<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014, 2015 Obeo and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Cedric Notot (Obeo) - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="synchronizers" name="Synchronizers" schema="schema/modelSynchronizer.exsd"/>
	<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.umlgen.c.common.tester.ObjectTypePropertyTester"
            id="org.eclipse.umlgen.c.common.objectTypePropertyTester"
            namespace="org.eclipse.umlgen.c.common"
            properties="objectType"
            type="org.eclipse.emf.ecore.EObject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.umlgen.ui.properties"
            class="org.eclipse.umlgen.c.common.ui.CProjectPropertyPage"
            id="org.eclipse.umlgen.c.common.ui.CProjectPropertyPage"
            name="C Generation and Reversing">
         <filter
               name="open"
               value="true">
         </filter>
      </page>
   </extension>
</plugin>
