<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014, 2015 CNES and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       JF Rolland (Atos) - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.umlgen.gen.rtsj.launcher.generate.all"
            name="Generate RTSJ (all)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.umlgen.gen.rtsj.launcher.popupMenus.GenAllRtsj"
            commandId="org.eclipse.umlgen.gen.rtsj.launcher.generate.all">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.umlgen.ui.menu?endof=org.eclipse.umlgen.ui.gen">
         <command
               commandId="org.eclipse.umlgen.gen.rtsj.launcher.generate.all"
               label="Generate RTSJ Code (All)"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.umlgen.ui.definition.isUmlFile">
                  </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
