<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
	Copyright (c) 2012, 2014 CNES and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
    	Cedric Notot (Obeo) - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.umlgen.dsl.eth.presentation.EthModelWizardID"
            name="%_UI_EthModelWizard_label"
            class="org.eclipse.umlgen.dsl.eth.presentation.EthModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EthModelFile.gif">
         <description>%_UI_EthModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.umlgen.dsl.eth.presentation.EthEditorID"
            name="%_UI_EthEditor_label"
            icon="icons/full/obj16/EthModelFile.gif"
            extensions="eth, asl"
            class="org.eclipse.umlgen.dsl.eth.presentation.custom.CustomEthEditor"
            contributorClass="org.eclipse.umlgen.dsl.eth.presentation.EthActionBarContributor">
      </editor>
   </extension>

</plugin>
