<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2010, 2014 Obeo and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Christophe Le Camus (CS) - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.umlgen.reverse.c.ui.reverseCode"
            icon="icons/reverse_code.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.umlgen.reverse.c.ui.addSynchNature"
            name="Add C2UML Synchronization Nature">
      </command>
      <command
            id="org.eclipse.umlgen.reverse.c.ui.removeSynchNature"
            name="Remove C2UML Synchronization Nature">
      </command>
      <command
            id="org.eclipse.umlgen.reverse.c.ui.generateCode"
            name="Generate C Code from UML">
      </command>
      <command
            description="Allows to reverse your C code."
            id="org.eclipse.umlgen.reverse.c.ui.reverseCode"
            name="Reverse C Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.umlgen.reverse.c.ui.internal.handler.AddC2UMLSyncNature"
            commandId="org.eclipse.umlgen.reverse.c.ui.addSynchNature">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.cdt.core.cnature">
               </test>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.umlgen.reverse.c.ui.internal.handler.GenerateActivityDiagrams"
            commandId="org.eclipse.umlgen.reverse.c.ui.reverseCode">
      </handler>
      <handler
            class="org.eclipse.umlgen.reverse.c.ui.internal.handler.RemoveC2UMLSyncNature"
            commandId="org.eclipse.umlgen.reverse.c.ui.removeSynchNature">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.umlgen.reverse.c.syncNature">
               </test>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.addSynchNature"
               label="Add C2UML Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.umlgen.reverse.c.syncNature">
                     </test>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.removeSynchNature"
               label="Remove C2UML Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.umlgen.reverse.c.syncNature">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.reverseCode"
               label="Generate activity diagrams"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.umlgen.reverse.c.ui.hasNature"
                              value="org.eclipse.umlgen.reverse.c.syncNature">
                        </test>
                        <iterate
                              ifEmpty="false">
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Activity">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Operation">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Class">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Package">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.OpaqueBehavior">
                              </test>
                           </or>
                        </iterate>
                     </and>
                  </with>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.ui.views.ContentOutline">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="UMLEditor"><!-- FIXME MIGRATION reference to modeler -->   
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.generateCode"
               label="Generate C code"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.umlgen.reverse.c.ui.hasNature"
                              value="org.eclipse.umlgen.reverse.c.syncNature">
                        </test>
                        <iterate
                              ifEmpty="false">
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Activity">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Operation">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Class">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Interface">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Package">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.OpaqueBehavior">
                              </test>
                              <!-- FIXME MIGRATION reference to modeler -->   
                              <test
                                    args="activitydiagram"
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="Diagram">
                              </test>
                           </or>
                        </iterate>
                     </and>
                  </with>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.ui.views.ContentOutline">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="UMLEditor"><!-- FIXME MIGRATION reference to modeler -->   
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
<!-- FIXME MIGRATION reference to modeler -->   
<!--   <extension
         point="templates">
      <template
            di="templates/%name%.xxx"
            editorId="UMLEditor"
            id="org.eclipse.umlgen.reverse.c.ui.template"
            isDiagram="false"
            model="templates/%name%.uml"
            name="C Synchronization Approach">
      </template>
   </extension> -->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.umlgen.reverse.c.ui.internal.tester.HasNaturePropertyTester"
            id="org.eclipse.umlgen.reverse.c.ui.naturePropertyTester"
            namespace="org.eclipse.umlgen.reverse.c.ui"
            properties="hasNature"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="Modeler"><!-- FIXME MIGRATION reference to modeler -->   
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertyTab
               afterTab="modelTab"
               category="model"
               id=".metadataTab"
               indented="true"
               label="Metadata">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="Modeler"><!-- FIXME MIGRATION reference to modeler -->   
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               afterSection="ClassifierElementsVisibilityPropertySection"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.ConditionalNodeTestSection"
               id="conditionalNodeTest"
               tab="modelTab">
            <input
                  type="org.eclipse.uml2.uml.ConditionalNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               afterSection="conditionalNodeTestitionalNodeTest"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.ClauseAssistantSection"
               id="conditionalNodeAssistant"
               tab="modelTab">
            <input
                  type="org.eclipse.uml2.uml.ConditionalNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               afterSection="ClassifierElementsVisibilityPropertySection"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeKindSection"
               id="loopNodeKind"
               tab="modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               afterSection="loopNodeKind"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeInitializationSection"
               id="loopNodeInitialization"
               tab="modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               afterSection="loopNodeInitialization"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeTestSection"
               id="loopNodeCondition"
               tab="modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               afterSection="loopNodeCondition"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeIterationSection"
               id="loopNodeIteration"
               tab="modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               afterSection="loopNodeIteration"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeBodyPartSection"
               id="loopNodeBodyPart"
               tab="modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.CharsetSection"
               id="charset"
               tab="metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Model">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.CFileRelativePathSection"
               id="cFileLocation"
               tab="metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.HFileRelativePathSection"
               id="hFileLocation"
               tab="metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.IfNDefSection"
               id="ifNDefCondition"
               tab="metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.StandardLibrarySection"
               id="stdLibraryInclusion"
               tab="metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Usage">
            </input>
         </propertySection>
	  </propertySections>         
   </extension>
   <!-- FIXME MIGRATION reference to modeler -->   
   <!-- <extension
         point="operationBodyLanguage">
      <Language
            bodyCompositeFactory="DefaultBodyCompositeFactory"
            name="C">
      </Language>
   </extension> -->
</plugin>
